.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100vh;
  padding: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-title {
  text-align: center;
}

.auth-input {
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  padding: 8px;
}

.join-button {
  align-self: center;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: #00dc93;
  font-size: 16px;
  color: #ffffff;
}
